@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html{
    font-size: 62.5%;
}

header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left,white 85%,#c3f5ff 15%);
}

.navsec{
    width: 100%;
    height: 20vh;
    background-image: linear-gradient(to top, white 80%, #c3f5ff 20%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navsec .logo{
    width: 40%;
    height: 3rem;
    background-image: linear-gradient(#8d98ec 40%, #854fee 60%);
}

.navsec .logo h1{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2rem;
    word-spacing: .3rem;
    animation: move 2s linear infinite;
    animation-direction: alternate;
}

@keyframes move{
    from{
        padding-left: 4rem;
    }
    to{
        padding-right: 4rem;
    }
}

nav{
    width: 60%;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
}

nav a:first-child{
    color: #4458dc;
}

nav a::before{
    content: "";
    position: absolute;
    width: 0%;
    height: .3rem;
    border-bottom: .3rem solid #4458dc;
    top: 100%;
    transition: all 0.2s ;
}

nav a:hover{
    color: #4458dc;
}

nav a:hover::before{
    width: 100%;
}

main{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: relative;
}

.rightside{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-color: #e8fbff;
    margin-right: 10rem;
}

.rightside img{
    max-width: 100%;
}

.rightside img:hover{
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.7));
    cursor: pointer;
}

.leftside{
    margin-left:8.5rem;
    text-transform: uppercase;
    color: black;
}

.leftside h2{
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.leftside h2::after{
    content: "";
    position: absolute;
    width: 75%;
    height: .4rem;
    background-color: black;
    bottom: 20%;
    left: 24%;
}

.leftside h1{
    font-size: 6rem;
    margin-bottom: 1.5rem;
    letter-spacing: .3rem;
}

.leftside h3{
    font-size: 2.5rem;
    font-weight: lighter;
    margin-bottom: 1.5rem;
    word-spacing: .3rem;
}

.button{
    margin-top: 4rem;
}

.leftside .hire_me{
    background-image: linear-gradient(to right,#4458dc 0%, #854fee 100%), radial-gradient(circle at top, #4458dc , #854fee);
    margin: 1.3rem;
    font-size: 1.5rem;
    border: double solid transparent;
    font-weight: bold;
    border-radius: .3rem;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    box-shadow: 0 1rem 3rem rgba(118,85,225,.3);
}

.leftside .hire_me:hover{
    background-image: none;
    background-color: white;
    color: #222;
    border: .2rem solid #4458dc;
    box-shadow: none;
}

.leftside .contact_me{
    margin: 5rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: bold;
    border:.2rem solid #4458dc;
    border-radius: .4rem;
    color: #222;
    padding: 1rem 2rem;
    text-decoration: none;
}

.leftside .contact_me:hover{
    background-color: none;
    background-image: linear-gradient(to right,#4458dc 0%, #854fee 100%), radial-gradient(circle at top, #4458dc, #854fee);
    border: double solid transparent;
    color: white;
    box-shadow: 0 1rem 3rem rgba(118,85,225,.3);
    border-radius: .3rem;
}